*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo{
  text-align: center;
  font-size: 40px;
}

header{
  background-color: rgb(104, 68, 210);
  height: 6vh;
  width: 100%;
  display: flex;
}

nav{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

ul, a{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
}

main{
  height: 100%;
  width: 100%;
}

h2, h1{
  margin: 10px;
}

p{
  margin: 20px;
  font-size: 20px;
}

section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

img, figcaption{
  display: flex;
  flex-direction: column;
  text-justify: auto;
  color: grey;
  width: 40vw;
}

footer{
  background-color: rgb(104, 68, 210);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

span{
  color: white;
}